 'node_modules/**/*'
 'vendor/**/*'
 'react/tests/mocks/**/*'
 'app/assets/javascripts/ReservationPortfolio.js'
 'app/assets/javascripts/analytics.js'
 'app/assets/javascripts/commons.js'
 'app/assets/javascripts/dashboards.js'
 'app/assets/javascripts/navigation.js'
 'app/assets/javascripts/styleguide.js'
 'app/assets/javascripts/top_nav.js'
 'spec/javascripts/mock_data.js'
